html,

body {
  height: auto;
  background-color:  #001f3f;
}

.container-fluid {
  margin: 0 auto;
  height: 100%;
  padding: 20px 0;
  background-color: #16A085;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.itemWrapper {
  background-color: #80A1D4;
    width: auto;
   height: auto;
   overflow:auto;
   margin-top: 2em;
   border-radius: 5px;
}

.itemWrapper * {
  margin-top: 5px;
  overflow: auto;
  display: block;
  word-wrap: break-word;
}


li {
  list-style-type: none;
}



h1{
  color:#7699D4;
}

textarea {
  margin-top: 1em;
  resize: none;
}

.editBtn {
  visibility: hidden;
  margin-bottom: 1em;
}

.itemWrapper:hover .editBtn {
     visibility: visible;
}
